.category-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.category-page-container h2 {
    width: 80%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    background-color: #fff;
}

.articles-list {
    width: 80%;
    height: 25%;
    list-style-type: none;
    padding: 0;
}

.article {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.article:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.article img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

.article-content {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.article h3 {
    color: #333;
    margin: 0 0 10px 0;
}

.article p {
    color: #666;
    margin: 0;
}

.plus-button {
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}

.plus-button:hover {

    font-weight: bold;
    background-color: none;
    transition: 0.5s;
}