.news-list-total {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.newscard-area {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #fff;
  border: 0.2px solid darkgray;
  box-shadow: 3px 3px 3px darkgray;
  border-radius: 20px;
  overflow: hidden;
}
.newscard-area:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 6px 6px 6px darkgray;
}

.news-card {
  width: 40%;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.article-contents {
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-contents > div {
  margin-bottom: 5px;
}

.article-contents > div:first-child {
  font-size: 18px;
  font-weight: bold;
}

.article-contents > div:last-child {
  margin-top: 40px;
  height: 3em;
  line-height: 1.5em;
  font-size: 14px;
  color: #666;
}
li,
ul {
  list-style: none;
}
h3,
p {
  color: #000;
}

.article-layout {
  display: flex;
  width: 80%;
  height: 100%;
  border: 1px solid rgba(169, 169, 169, 0.5);
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px darkgray;
}

.article-layout:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.article-image {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(169, 169, 169, 0.5);
}

.article-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.article-content {
  flex-basis: 50%;
  padding: 20px;
}
.news-list-total {
  margin-bottom: 50px;
}
.category-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.category-page-container h2 {
  width: 80%;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  background-color: #fff;
}

.articles-list {
  width: 80%;
  height: 25%;
  list-style-type: none;
  padding: 0;
}

.article {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.article:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.article img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}

.article-content {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.news-title {
  color: #000;
}
.article h3 {
  color: #333;
  margin: 0 0 10px 0;
}

.article p {
  color: #666;
  margin: 0;
}

.news-list-box .article-contents {
  color: #000;
  padding-right: 20px;
}
.plus-button-box {
  margin: 0 auto;
  text-align: center;
}
.plus-button {
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.plus-button:hover {
  font-weight: bold;
  background-color: none;
  transition: 0.5s;
}
.whole {
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 374px) and (max-width: 780px) {
  .news-title {
    color: #000;
}
  .news-list-total {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }

  .newscard-area {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #fff;
    border: 0.2px solid darkgray;
    box-shadow: 3px 3px 3px darkgray;
    border-radius: 20px;
    overflow: hidden;
  }

  .news-card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    width: 80%;
    background-size: cover;
    background-position: center;
    height: 200px;
  }

  .article-contents {
    overflow: hidden;
  text-overflow: ellipsis;
  width: 80%; 
  text-align: center;

  }

  .whole {
    margin-top: 20px;
  }
  .article-contents > div {
    margin-bottom: 5px;
  }

  .article-contents > div:first-child {
    font-size: 15px;
    font-weight: bold;
  }

  .article-contents > div:last-child {
    
  }
  li,
  ul {
    list-style: none;
  }
}
