.myPage--wrap {
    background: #f7f7f7;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPage--wrap * {
    box-sizing: border-box;
}

.myPage--wrap img {
    width: 100%;
}

.myPage--box {
    max-width: 500px;
    width: calc(100% - 32px);
    padding: 16px;
    background-color: #fff;
    border-radius: 14px;
}

.profile--wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.profile--info p,
.profile--info ul {
    margin: 0;
}

.profile--info__bookmark {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.profile--img {
    width: 90px;
    border-radius: 100%;
    overflow: hidden;
}

.profile--like__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 40px;
    list-style: none;
    padding: 0;
}