.myPage--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 32px);
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.myPage--wrap h2 {
  display: none;
}

.myPage--wrap * {
  box-sizing: border-box;
}

.myPage--wrap img {
  width: 100%;
}

.myPage--box {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
}

.profile--wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.profile--info__id {
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
  font-weight: 700;
}

.profile--info p,
.profile--info ul {
  margin: 0;
}

.profile--like__title {
  font-weight: 700;
}

.profile--info__bookmark {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.profile--info__bookmark li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.profile--info__bookmark li::before {
  content: "";
  background-image: url("../../assets/bookmark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 17px;
  width: 14px;
  height: 17px;
}

.profile--info__bookmark li button {
  font-size: 0.9rem;
  text-decoration: none;
  color: #222;
  display: flex;
  gap: 0.3rem;
}

.profile--info__bookmark li button span {
  font-weight: 700;
}

.profile--img {
  width: 90px;
  border-radius: 100%;
  overflow: hidden;
}

.profile--like__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.profile--like__list li {
  display: flex;
  gap: 0.5rem;
}

.profile--like__list li label {
  font-size: 0.9rem;
}

@media (max-width: 375px) {
  .profile--like__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }
}

.profile--btn {
  width: 100%;
  border: none;
  color: #fff;
  padding: 0.8rem 0;
  background-color: var(--point-color);
  border: 0 none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.member_delete {
  max-width: 500px;
  width: calc(100% - 32px);
  display: flex;
  justify-content: flex-end;
}

.member_delete button {
  color: #999;
}