.slider-container {
  height: 350px;
  margin-top: 20px;

  .slide {
    height: 100%;

    a {
      top: -50px;
    }
  }
}
.carousel-container {
  overflow-x: hidden;
  overflow-y: visible;
  height: 400px;
}
.sliderClass {
  height: 90%;
}

.carousel-control-next-icon {
  background-color: black;
  color: black;
}

.carousel-control-prev-icon {
  background-color: black;
  color: black;
}

.slider-container {
  .slide {
    height: 60%;
  }

  .carousel-indicators {
    color: black;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 290px;
    display: flex;
    overflow-y: hidden;
    justify-content: space-between;
  }
  .sliderClass {
    height: 100%;
  }
}
