.newscard-wrap {
  position: relative;
}
.newscard-wrap .bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 30px;
  background-image: url('../../assets/bookmark.png');
  font-size: 0;
}
.newscard-wrap .bookmark.active {
  background-image: url('../../assets/bookmark-active.png');
}
.newscard-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.news-card {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.article-contents {
  width: 100%;
  object-fit: cover;
  /* height: 330px; */
  padding: 1rem 0 1rem;
}

.article-title,
.article-author,
.article-description {
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.38;
  letter-spacing: -0.3px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;

  -webkit-box-orient: vertical;
}

.article-title,
.article-author {
  -webkit-line-clamp: 1;
}

.article-description {
  -webkit-line-clamp: 2;
}

.article-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-description {
  display: none !important;
}

.article-author {
  font-size: 0.9rem;
  height: 18px;
  color: #666;
}

@media (max-width: 767px) {
}
