.footer {
  width: 100%;
  padding: 2rem 16px;
  border-top: 1px solid #d9d9d9;
  background-color: #fff;
}

.footer * {
  box-sizing: border-box;
  color: var(--gray-color);
  font-size: 0.9rem;
}

.foo-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.foo-wordmark {
  font-size: 16px;
  font-weight: 700;
}

.foo--list {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-weight: 500;
}

.foo--copy {
  font-size: 0.75rem;
  color: #666;
}

@media all and (max-width: 375px) {
  .foo--list {
    display: flex;
    gap: 1rem;
  }
}