.footer {
    width: 100%;
    padding: 2rem 16px;
    border-top: 1px solid #d9d9d9;
}

.footer * {
    box-sizing: border-box;
}

.foo--list {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-weight: 500;
}

.foo--copy {
    font-size: 0.75rem;
    color: #666;
}