.slide-area {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 3px 3px 3px darkgray;
  margin: 10px;
}

.country-area {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 3px 3px 3px darkgray;
  margin: 10px 0 10px 0;
}

.weather-area {
  margin: 10px 0 10px 0;
  padding: 0;
}

.area-title {
  padding: 20px 20px 20px 0;
  font-size: 30px;
  font-weight: 700;
}

.favorite-title {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 30px;
  font-weight: 700;
}

.favorite-area {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  box-shadow: 3px 3px 3px darkgray;
}

.favorite-news {
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;

  .slider-container {
    width: 380px;

    .news-card {
      width: 380px;
      height: 200px;
    }

    .article-contents {
      width: 380px;
    }
  }
}

.refresh-button {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .favorite-news {
    display: block;
    width: 400px;
    margin: 0 auto;

    div {
      /* width: 400px; */
    }

    .slider-container {
      width: 400px;

      .news-card {
        width: 400px;
        height: 200px;
      }

      .article-contents {
        width: 400px;
      }
    }
  }
}
