.slide-area {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 5px;
  margin: 10px;
}

.country-area {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 5px;
  margin: 10px 0 10px 0;
}

.weather-area {
  margin: 10px 0 10px 0;
  padding: 0;
}

.area-title {
  padding: 20px 20px 20px 0;
  font-size: 30px;
  font-weight: 700;
}
